alias_dir=$(direnv_layout_dir)/aliases
mkdir -p "$alias_dir"

make_alias() {
    printf '#!/bin/sh\nuv run --extra %s %s "$@"\n' "$1" "$2" > "$alias_dir/$2"
    chmod +x "$alias_dir/$2"
}

make_alias vm      ansible
make_alias vm      ansible-lint
make_alias just    just
make_alias vm      molecule
make_alias test    pytest
make_alias lint    ruff
make_alias lint    yamllint

PATH_add "$alias_dir"
