exclude .*
exclude *.lock *.yml
exclude ansible.cfg ANSIBLE.md Vagrantfile
exclude justfile

prune .github/
prune inventory/
prune molecule/
prune roles/

include CHANGELOG*
include LICENSE*
include pyproject.toml

recursive-include elogviewer/ *.py
recursive-include tests/ *.py
