CHOST="x86_64-pc-linux-gnu"
MAKEOPTS="-j{{ hostvars[inventory_hostname]['ansible_processor_vcpus'] }}"
CFLAGS="-mtune=generic -O2 -pipe"
CXXFLAGS="${CFLAGS}"

# USE_PYTHON="{{ use_python }}"
# PYTHON_TARGETS="{{ python_targets }}"
GRUB_PLATFORMS="emu efi-32 efi-64 pc"

PORTDIR="/usr/portage"
DISTDIR="/var/cache/distfiles"
PKGDIR="/var/cache/binpkgs"

INPUT_DEVICES="libinput"
VIDEO_CARDS=""

PORTAGE_ELOG_SYSTEM="save"
PORTAGE_ELOG_CLASSES="warn info error log"

FEATURES="${FEATURES} buildpkg parallel-fetch"
ACCEPT_PROPERTIES="* -interactive"

EMERGE_DEFAULT_OPTS="${EMERGE_DEFAULT_OPTS} --usepkg --binpkg-respect-use=y"
EMERGE_DEFAULT_OPTS="${EMERGE_DEFAULT_OPTS} --quiet"
EMERGE_DEFAULT_OPTS="${EMERGE_DEFAULT_OPTS} --load-average={{ hostvars[inventory_hostname]['ansible_processor_vcpus'] }}"
EMERGE_DEFAULT_OPTS="${EMERGE_DEFAULT_OPTS} --jobs={{ hostvars[inventory_hostname]['ansible_processor_vcpus'] }}"

USE="${USE} -llvm openssl {{ qt_use_flag }} X harfbuzz"
